.dot-container {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
.dot {
  border: 1px solid #656f34;
  border-radius: 9999px;
  height: 0.5rem;
  width: 0.5rem;

  background: white;
  animation: wave 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.3333s;
}
.dot:nth-child(3) {
  animation-delay: 0.6666s;
}

@keyframes wave {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    transform: translateY(-0.5rem);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}
